narwhals==1.41.0
speechrecognition
pyttsx3
packaging==24.1
pandas==2.2.2
plotly==6.1.2
ag2==0.9.1a1
joblib==1.4.2
numpy==1.26.4
scikit-learn==1.5.0
streamlit==1.38.0
statsmodels==0.14.4
pulp==2.9.0
langchain==0.3.4
Pillow==10.4.0
